.contact-us {
    text-align: center;
    color: white;
}

.contact-us h3{
    color: white;
}

.footer-section {
    background-color: var(--baseColor);
    padding-bottom: 2vh;
    padding-top: 5vh;
}