.navbar {
    padding: 1vh 5vh 0vh 5vh !important;
    background-color: var(--baseColor);
}

.nav-logo {
    max-height: 3.5vh;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 100%;
}

.navbar-logo-name {
    font-weight: bold;
    color: white;
}


.navbar a {
    font-size: 2vh;
    color: white;
    padding-bottom: 1vh;
    margin-right: 1vh;
    margin-left: 1vh;
}

.nav-item:hover{
    transition: 0.15s ease-in-out;
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.5));
}

.navbar a:hover {
    color: white;
}

@media (min-width: 1024px) {
    .navbar {
        padding-top: 4vh!important;
    }
}
