body {
    overflow-x: hidden;
}

.meet-the-team-section {
    background-color: var(--baseColor);
    margin-bottom: 3vh;
    padding:5vh 0vh 5vh 0vh;
}

.meet-the-team-section h2{
    color: white;
    padding: 4vh 0vh 2vh 0vh;
    margin: 0px;
}

#meet-the-team-title{
    color: white;
    padding: 1vh 0vh 0vh 0vh;
    text-align: center;
}

.individual-member img{
    width: 100%;
    height: 100%;
    padding: 0px !important;
}

.individual-member {
    padding: 0px !important;
}